<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/mystyle.css">
    <title>HomePage</title>
</head>
<body>
    <div class="hompage">
        <div class="header">
            <a href="/insert" class="homepage_new-product">New Product</a>
            <a href="/view" class="homepage_all-product">All products</a>
        </div>
        <h2 class="tittle">Welcome to the database management system of the company ATN.</h2>
        <div class="brand">
            <div class="brand_name a">A</div>
            <div class="brand_name t">T</div>
            <div class="brand_name n">N</div>
        </div>
    </div>
</body>
</html>