<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/mystyle.css">
    <title>HomePage</title>
    <style>
    .brand_name.a{
        color: red;
    }

    .brand_name.t{
        color: #009500;
        padding-top: 130px;
    }

    .brand_name.n{
        color: #000095;
        padding-top: 270px;
    }
    </style>
</head>
<body>
    <div class="hompage">
        <div class="header">
            <a href="/login" class="homepage_new-product">Login</a>
            <a href="/register" class="homepage_all-product">Register</a>
        </div>
        <h2 class="tittle">Welcome to the database management system of the company ATN.</h2>
        <div class="brand">
            <div class="brand_name a">A</div>
            <div class="brand_name t">T</div>
            <div class="brand_name n">N</div>
        </div>
    </div>
</body>
</html>