<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
    <div class="brand">
        <div class="brand_name a">A</div>
        <div class="brand_name t">T</div>
        <div class="brand_name n">N</div>
    </div>
    <div class="insert">
        <form action="/doInsert" method="post">
            Name <input type="text" name="txtName" >
            <span class="error">{{error.name}}</span>
            <br>
            <br>
            Price <input type="text" name="txtPrice">
            <span class="error">{{error.price}}
            <br>
            <br>
            <input type="submit" value="Insert" style="background-color: teal; color: white; border: 0; 
            padding: 6px 10px; border-radius: 3px; cursor: pointer;">
        </form>
    </div>
</body>
</html>