<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystyle.css">
    <title>Login</title>

</head>
<body>
	    <div class="brand">
        <div class="brand_name a">A</div>
        <div class="brand_name t">T</div>
        <div class="brand_name n">N</div>
    </div>
	<div class="login">
		<form action="/doLogin" method="post">
			User Name <input type="text" name="txtName">
			<br>
			<br>
			Password <input type="password" name="txtPassword">
			<br>
			<br>
			<input type="submit" value="Login" style="background-color: teal; color: white; 
            border: 0; padding: 6px 10px; border-radius: 3px; cursor: pointer;">
		</form>
	</div>
</body>
</html>